* {
  font-family: "Inter", sans-serif;
  padding: none;
  margin: none;
  box-sizing: border-box;
}
.back {
  text-align: right;
}

#circle {
  position: absolute;
  width: 600px;
  height: 600px;
  background: #CA87FF;
  left: -300px;
  top: -300px;
  border-radius: 600px;
  z-index: -1;
}

.copyright {
  text-align: center;
  color: lightgray;
  margin-top: 1em;
  margin-bottom: 5em;
}

.img-caption {
  color: lightgray;
  margin-top: -0.25em;
  font-size: 12px;
}

.link-frame {
  color: black;
  text-decoration: none;
}
.link-frame:hover {
  color: crimson;
  text-decoration: underline crimson solid;
}

.navigation {
  position: absolute;
  right: calc(5vw - 1em);
  top: calc(10vh - 0.5em);
}

.lang-nav {
	position: absolute;
	right: calc(5vw - 0.5em);
	top: 2vh;
}

.lang-nav ul {
	display: flex;
	flex-direction: row;
}
.lang-nav a {
	text-decoration: inherit;
	color:inherit;
}
.active-lang {
	color: #D1D1D1;
	text-decoration: underline;
}
.inactive-lang {
	color: #5C5C5C;
}
.navigation a {
  color: black;
}
.lang-nav li {
  margin: 0.5em;
	padding: 0.2em 0.75em;
	background: #FAFAFA;
	border-radius: 0.5em;
}

.navigation li  {
  font-size: 1.25em;
  margin: 0.5em 1em;
}
.navigation>ul {
  display: flex;
}


@media only screen and (max-width: 480px){
  .navigation >ul{
    flex-direction: column;
		text-align: right;
  }
}

.navigation li, .lang-nav li {
  list-style: none;
}

p { 
  line-height: 1.7em;
}
.img-container {
  text-align: center;
}
.img-container>img {
  max-width: 100%;
  max-height: 540px;
}

.page-body {
  margin: auto;
  margin-top: 4em;
  width: 45vw;
  max-width: 640px;
  min-width: 320px;
}

.page-title {
  font-size: 4em;
  margin-left: 5vw;
  margin: 10vh 10vw 0.1em 5vw; 
}

.page-subtitle {
  font-weight: 100;
  margin-top: 0;
  margin-left: 5vw;
}

.post-summary {
  margin: 1.5em 0;
}

.post-summary-body {
  display: flex;
  justify-content: space-evenly;
}

.post-summary-content>p {
  margin-top: 0.25em;
}

.post-summary-emoji {
  margin-right: 1.0em;
}

.post-summary-title {
  margin-bottom: 0.25em;
}

.post-title {
  font-weight: 400;
  font-size: 2em;
  margin-top: 0;
}

.post-year {
  font-weight: 200;
}
pre {
  padding: 0.5em;
}

.socials-container {
  display: flex;
  justify-items: center;
  margin-top: 2em;
}
.socials-container img {
  width: 16px;
  margin: 0.5em;
}

.socials {
  margin: auto;
}

.socials-container a {
  text-decoration: none;
}

code, code *{
  font-family: monospace;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
}

.twitter-tweet-rendered {
  display: block;
  margin: auto;
}

.tag a, .large-tag a {
  color: white;
  text-decoration: none;
}
.large-tag, .tag {
  color: white;
  margin: 4px 8px;
  margin-left: 0;
  background: #FFC75A;
}
.large-tag {
 font-size: 12px;
  border-radius: 16px;
  padding: 4px 8px;
}

.tag {
 font-size: 10px;
  border-radius: 12px;
  padding: 1px 8px;
}
